* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*NAVBAR*/
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar a {
  font-weight: 300;
  color: #ecf4f3;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  font-weight: 800;
  transform: scale(1.2);
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*HERO*/

.hero {
  height: 100vh;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.hero-text {
  font-weight: 400;
  font-size: 2em;
  color: #ecf4f3;
  text-align: center;
  padding-top: 150px;
}

.hero-text h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.hero-text p {
  margin: 0;
}

.fa {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.fa:hover {
  color: #0f3057;
  transform: scale(1.2);
}

.btn-container {
  margin: 0 auto;
}

.resume-button {
  display: block;
  width: 100%;
  background: #ecf4f3;
  border-radius: 4px;
  padding: 8px 10px;
  border: none;
  color: #0f3057;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.resume-button:hover {
  background-color: #0f3057;
  color: #ecf4f3;
  border: #ecf4f3;
  transform: scale(1.2);
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: #ecf4f3;
  padding: 20px;
}

/*ARROW LINK*/
#down-arrow {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: #ecf4f3;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.white {
  background: #ecf4f3;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  color: #0f3057;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: #ecf4f3;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 30px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: #ecf4f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-content {
  padding: 0.25rem 1.25rem;
  flex: 1 1 auto;
}

h4 {
  margin: 0;
  font-weight: 400;
  color: grey;
}

.job-title {
  float: right;
}

/*PROJECTS*/
.project-card {
  display: flex;
  flex-direction: row;
  background-color: #ecf4f3;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.project-image {
  flex: 1 0 auto;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #ecf4f3;
  background: #0f3057;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
  border: 1px solid #0f3057;
}
.li-skills:hover {
  background-color: #ecf4f3;
  color: #0f3057;
}

/*CONTACT*/
.blue {
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  color: rgb(20, 20, 20);
  background-color: #ecf4f3;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
}

::placeholder {
  color: rgb(8, 8, 8);
  opacity: 0.5;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.submit-button {
  display: block;
  width: 100%;
  background: #ecf4f3;
  border-radius: 4px;
  padding: 8px 10px;
  border: none;
  color: #0f3057;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.submit-button:hover {
  background-color: #0f3057;
  color: #ecf4f3;
  border: #ecf4f3;
}

.white-text {
  color: #ecf4f3;
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 2rem;
}
